.form__field {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.submit {
  width: 127px;
  height: 44px;
  border: 45px;
  border-radius: 18px;
  background-color: black;
  color: whitesmoke;
  border: aliceblue;
  position: relative;
  left: 46vw;
  top: 0vw;
  margin: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
